.cnt1{
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(235, 232, 232);
    p{
        font-size: 18px;
        line-height: 40px;
        margin: 0;
    }
    button{
        width: 150px;
        height: 40px;
    }
}
.cnt2{
    padding: 15px;
    border: 1px solid lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btnAdd{
    color: white;
    background-color: lightgray;
}
.deleteModal{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button{
        margin-right: 5px;
        width: 130px;
        height: 50px;
    }
}